[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
dynaconf = {extras = ["yaml"],version = "*"}
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"

[requires]
python_version = "3.7"

[dev-packages]
black = "==19.3b0"
ipython = "*"
